@import url('tailwind.min.css');;

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

header {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('./42luanda.png') no-repeat center center/cover;
}

.bg-dark {
    background-color: #1a202c;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar a {
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

section {
    padding: 60px 0;
}

.card {
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

footer {
    background-color: #1a202c;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}

/* Estilo padrão para desktops */
.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* Para telas menores que 768px (mobile/tablets) */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 10px;
  }

  body {
    font-size: 16px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

#background-video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  width: auto;
  height: auto;
  z-index: -1;
  object-fit: cover;
  opacity: 0.8; /* opcional: para deixar o conteúdo mais legível */
}
